.aboutProcess {
  background-color: var(--primary-clr-500);
  color: rgba(var(--white-RGB), 0.8);

  &__contact {
    background: var(--accent-gradient-vertical);
    color: var(--black);
  }
}

.process {
  background: var(--primary-clr-500);
  color: var(--white);

  &__icon {
    fill: var(--white);
  }
}
