.aboutProcess {
  background-color: var(--white);
  padding: var(--padding-300);
  padding-bottom: 13vh;
}

.process {
  display: flex;
  align-items: center;

  &__icon {
    width: 24px;
    margin-right: 0.5em;
  }
}
