.landing {
  position: relative;
  z-index: 3;
  margin-top: 7vh;
  padding: var(--padding-400);
  padding-top: 20vh;
  min-height: 90vh;
  overflow: hidden;
  clip-path: var(--clip-path);

  @include widerThan768 {
    padding-top: 10vh;
  }

  @include tallerThan960 {
    min-height: 80vh;
  }

  &__heading,
  &__subheading,
  &__cta {
    position: relative;
    z-index: 2;
  }
  h4,
  h3,
  h2 {
    line-height: 1.3;
    font-weight: 400;
    color: var(--white);
  }

  h3,
  h2 {
    font-weight: bold;
  }

  .contentsWrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__subheading {
    width: max-content;
    margin-top: 2.2rem;
  }

  &__highlight {
    display: inline-block;
    background-image: var(--accent-gradient-vertical-reverse);
    font-weight: 500;
    color: var(--black);
    margin: 0.25em 0;
    padding: 0 var(--padding-300);
    width: max-content;
    border-radius: 0.25em;

    @include widerThan768 {
      font-weight: bold;
    }
  }

  &__cta {
    margin-top: 10vh;

    .btn {
      font-size: 1rem;
    }
  }

  &__cta .btn:first-child {
    margin-right: 1rem;
    &::before {
      content: "\f2b9";
    }
  }
  &__cta .btn:last-child::before {
    content: "\f0ae";
  }

  &__illustration {
    position: absolute;
    z-index: -2;
    right: -25%;
    top: -15%;

    @include widerThan640 {
      right: 0;
      top: 15.5%;
      transform: scale(1.3);
    }

    @include widerThan1200 {
      position: relative;
      width: 60%;
      z-index: 1;
      transform: scale(1);
    }
  }
}
