.landing {
  position: relative;
  z-index: 2;
  margin-top: 7vh;
  padding: var(--padding-400);
  padding-top: 20vh;
  min-height: 93vh;
  overflow: hidden;
  clip-path: var(--clip-path);

  @include widerThan768 {
    padding-top: 10vh;
  }

  &__wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__heading,
  &__subheading,
  &__cta {
    position: relative;
    z-index: 2;
  }

  &__heading {
    h4,
    h3,
    h2 {
      line-height: 1.3;
      font-weight: 400;
      color: var(--white);
    }
  }

  &__subheading {
    width: max-content;
    margin-top: 2.2rem;
  }

  &__highlight {
    display: inline-block;
    background-image: var(--accent-gradient-vertical-reverse);
    font-weight: 500;
    color: var(--black);
    margin: 0.25em 0;
    padding: 0 var(--padding-300);
    width: max-content;
    border-radius: 0.25em;
  }

  &__cta {
    margin-top: 10vh;
  }

  &__cta .btn:first-child {
    margin-right: 1rem;
    &::before {
      content: "\f2b9";
    }
  }
  &__cta .btn:last-child::before {
    content: "\f0ae";
  }

  &__illustration {
    position: absolute;
    z-index: -2;
    right: -25%;
    top: 12.5%;

    @include widerThan640 {
      right: 0;
      top: 25.5%;
      transform: scale(1.3);
    }
  }
}
