.aboutHeader {
  position: relative;
  margin-top: 7vh;
  padding: var(--padding-300);
  padding-bottom: 10vh;
  color: var(--white);
  clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);

  &::before {
    background: linear-gradient(
      to right,
      rgba(var(--primary-RGB), 1),
      rgba(var(--primary-RGB), 0.9)
    );
  }

  &__content {
    p,
    mark {
      color: rgba(var(--white-RGB), 0.9);
    }

    mark {
      font-weight: bold;
      margin-right: 0.5rem;
      letter-spacing: 1px;

      &::after {
        background: var(--primary-clr-600);
      }
    }

    span {
      margin-right: 0.5rem;
    }

    h6 {
      color: var(--accent-clr-400);
    }
  }

  &__illustration {
    position: absolute;
    z-index: -2;
    top: 12.5%;
    right: -90%;
  }
}
