.footer {
  position: relative;
  margin-top: -15vh;
  padding: var(--padding-400);
  padding-top: 20vh;
  background-color: var(--primary-clr-600);
  color: var(--white);

  &::after {
    height: 55%;
    background: var(--padding-400);
  }

  &__title {
    margin-top: 0;
    max-width: 36.5rem;
  }

  &__columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    z-index: 2;
    gap: 2rem;
    top: 2rem;
  }

  .contact {
    background: var(--white);
    padding: var(--padding-400);
    border-radius: var(--border-radius);
    color: var(--black);
    box-shadow: var(--box-shadow-y-reverse);

    &__field {
      margin-bottom: 1rem;
      position: relative;

      label {
        position: absolute;
        background: var(--white);
        color: var(--primary-clr-600);
        opacity: 0.6;
        padding: 0 var(--padding-300);
        top: 0.75rem;
        left: 0.25rem;
        transition: transform 0.3s ease-in-out;
      }

      input,
      textarea {
        width: 100%;
        background: transparent;
        will-change: padding;
        transition: padding 0.3s ease-in-out;
        border-color: currentColor;
      }

      &--focused {
        label {
          opacity: 1;
          transform: translateY(-1.25rem);
        }
        input,
        textarea {
          padding-top: 1rem;
        }
      }
    }

    &__submit {
      &::before {
        content: "\f1d8";
      }
    }
  }

  &__socialLinks {
    h5 {
      margin-bottom: 2rem;
    }

    a {
      display: block;
      margin-bottom: 1rem;
      background-color: var(--white);
      color: var(--primary-clr-400);
      padding: var(--padding-400);
      border-radius: var(--border-radius);
      text-decoration: none;

      &::before {
        content: "#";
        font-family: "Font Awesome 5 Brands";
        font-weight: 900;
        margin-right: 0.5rem;
      }
    }

    a[title="Github Profile"] {
      &::before {
        content: "\f09b";
      }
    }

    a[title="Twitter Profile"] {
      &:before {
        content: "\f099";
      }
    }

    a[title="Facebook Profile"] {
      margin-bottom: 0;

      &::before {
        content: "\f09a";
      }
    }
  }

  hr {
    display: inline-block;
    width: 100%;
    color: var(--white);
    margin-top: 1rem;
  }

  &__copyright {
    margin-bottom: 0;
    margin-top: 4rem;
  }
}
