.footer {
  position: relative;
  margin-top: -15vh;
  padding: var(--padding-400);
  padding-top: 20vh;
  background-color: var(--primary-clr-600);
  color: var(--white);

  &::after {
    height: 55%;
    background: var(--padding-400);
  }

  &__title {
    margin-top: 0;
    max-width: 36.5rem;
  }

  &__columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 2;
    top: 2rem;

    @include widerThan768 {
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
    }
  }

  .contact {
    background: var(--white);
    padding: var(--padding-400);
    border-radius: var(--border-radius);
    color: var(--black);
    box-shadow: var(--box-shadow-y-reverse);
    margin-bottom: 2rem;

    @include widerThan768 {
      width: 43.75rem;
      margin-bottom: 0;
      margin-right: 2rem;
    }

    &__form {
      max-width: 100%;
    }

    &__field {
      margin-bottom: 1rem;
      position: relative;

      label {
        position: absolute;
        background: var(--white);
        color: var(--primary-clr-600);
        opacity: 0.6;
        padding: 0 var(--padding-300);
        top: 0.75rem;
        left: 0.25rem;
        transition: transform 0.3s ease-in-out;
      }

      input,
      textarea {
        width: 100%;
        background: transparent;
        will-change: padding;
        transition: padding 0.3s ease-in-out;
        border-color: currentColor;
      }

      &--focused {
        label {
          opacity: 1;
          transform: translateY(-1.25rem);
        }
        input,
        textarea {
          padding-top: 1rem;
        }
      }
    }

    &__submit {
      background: var(--primary-gradient-vertical);
      color: var(--white);
      border-color: var(--primary-clr-400);

      &::before {
        content: "\f1d8";
      }
    }
  }

  &__socialLinks {
    h5 {
      margin-bottom: 2rem;
    }

    a {
      display: block;
      margin-bottom: 1rem;
      background-color: var(--white);
      color: var(--primary-clr-400);
      padding: var(--padding-400);
      border-radius: var(--border-radius);
      text-decoration: none;

      &::before {
        content: "#";
        font-family: "Font Awesome 5 Brands";
        font-weight: 900;
        margin-right: 0.5rem;
      }
    }

    a[title="Github Profile"] {
      &::before {
        content: "\f09b";
      }
    }

    a[title="Twitter Profile"] {
      &:before {
        content: "\f099";
      }
    }

    a[title="Facebook Profile"] {
      margin-bottom: 0;

      &::before {
        content: "\f09a";
      }
    }
  }

  hr {
    display: inline-block;
    width: 100%;
    color: var(--white);
    margin-top: 1rem;
  }

  &__copyright {
    margin-bottom: 0;
    margin-top: 4rem;
  }

  .errorInInput {
    animation: error 0.5s ease-in-out;

    &::after {
      content: attr(data-error-message);
      display: block;
      margin-bottom: 1rem;
      margin-left: 0.5rem;
      color: var(--error);
      font-size: 0.9rem;
    }

    input,
    textarea {
      border-color: var(--error);
    }
  }

  @keyframes error {
    25% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(5px);
    }
  }
}
