.nav {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--padding-400);
  background-image: var(--primary-gradient-horizontal);
  color: var(--white);
  height: 10vh;
  min-height: 60px;
  max-height: 94px;
  box-shadow: var(--box-shadow-y);

  &::after,
  &::before {
    visibility: visible;
    content: "";
    position: absolute;
    bottom: -0.25rem;
    left: 0;
    height: 0.25rem;
  }

  &::before {
    width: 100%;
    background-color: var(--accent-clr-400);
  }

  &::after {
    width: 50%;
    border-radius: var(--border-radius);
    transform: translateX(-100%);
    background-color: var(--primary-clr-400);
    animation: slide 0.7s linear infinite;
  }

  &--loaderHidden {
    &::before,
    &::after {
      visibility: hidden;
    }

    &::after {
      animation: none;
    }
  }

  &__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    height: calc(60px * 0.8);
    width: auto;

    path {
      fill: var(--white);
    }
  }

  &__hamburgerToggler {
    position: relative;
    z-index: 3;
    display: inline-block;
    width: 6vw;
    min-width: 30px;
    height: 0.4vh;
    background-color: var(--white);
    border-radius: var(--border-radius);
    cursor: pointer;
    margin-bottom: 1.6vh;
    transition: transform var(--transition-duration) ease-in-out;

    &::before,
    &::after {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      background-color: var(--white);
      border-radius: var(--border-radius);
      transition: inherit;
    }

    &::before {
      top: -0.8vh;
    }

    &::after {
      top: 0.8vh;
      transform-origin: left;
      transform: scaleX(0.8);
    }

    &:hover::after {
      transform: scaleX(1);
    }

    &--active {
      transform: rotate(45deg);

      &::before {
        transform: rotate(-90deg) translateX(-8px);
      }

      &::after {
        opacity: 0;
      }
    }
  }

  &__links {
    display: flex;
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: var(--primary-gradient-horizontal-reverse);
    transform-origin: right;
    transform: scaleX(0);
    transition: visibility var(--transition-duration) ease-in-out,
      transform var(--transition-duration) ease-in-out;
    box-shadow: var(--box-shadow-x);

    @include widerThan768 {
      visibility: visible;
      transform: scaleX(1);
      flex-direction: row;
      position: relative;
      height: 100%;
      width: auto;
      background: none;
      box-shadow: unset;
    }

    &--active {
      visibility: visible;
      transform: scaleX(1);
    }
  }

  &__link {
    position: relative;
    text-align: center;
    margin: 1em auto;
    padding: var(--padding-300);
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;

    &::after,
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      background: var(--white);
      width: 100%;
      border-radius: var(--border-radius);
      transform-origin: right;
      transition: transform 0.3s ease-in-out;
    }

    &::after {
      transform: scaleX(0);
      height: 0.125rem;
    }

    &::before {
      visibility: hidden;
      background: var(--primary-clr-600);
      height: 100%;
    }

    @include widerThan768 {
      margin: 0 1rem;

      &:hover::after,
      &:focus::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }

    &--active {
      color: var(--primary-clr-400);
      border-radius: var(--border-radius);
      width: 15ch;

      &::after {
        background: var(--white);
        transform: scaleX(1);
        height: 100%;
      }

      &::before {
        visibility: visible;
        transform: translate(0.25rem, 0.25rem);
      }

      @include widerThan768 {
        width: 100%;
      }
    }
  }

  &__togglers {
    display: flex;
    align-items: flex-end;

    @include widerThan768 {
      flex-direction: row-reverse;
      align-items: center;
    }
  }

  &__theme,
  &__hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__hamburger {
    @include widerThan768 {
      display: none;
    }
  }

  &__theme {
    margin-right: 1rem;

    @include widerThan768 {
      margin: 0;
      margin-left: 5rem;
    }
  }

  &__themeToggler {
    width: 2.5rem;
    margin-bottom: 0.25rem;

    path {
      fill: var(--white);
    }
    circle {
      fill: var(--accent-clr-400);
      transition: transform 0.3s ease-out;
    }

    &--dark {
      circle {
        transform: translateX(calc(2 * 5rem));
      }
    }
  }
}

@keyframes slide {
  100% {
    transform: translateX(150%);
  }
}
