.expertise {
  margin-top: -10vh;
  padding: var(--padding-400);
  padding-top: 13vh;
  padding-bottom: 13vh;
  min-height: 100vh;
  overflow: hidden;
  background: var(--primary-gradient-vertical-reverse);
  clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);

  &__heading {
    color: var(--white);
  }

  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }

  &__projects {
    margin: 0 auto;
    margin-top: 2rem;

    &::before {
      content: "\f0ae";
    }
  }
}

.expertiseCard {
  position: relative;
  background-color: var(--white);
  border-radius: var(--border-radius);
  width: 20.625rem;
  height: 11.562rem;
  margin-bottom: 3rem;
  box-shadow: var(--box-shadow-neumorphism);

  &__title {
    width: 100%;
    margin: 0;
    color: var(--primary-clr-600);
    text-align: center;
    padding: var(--padding-300);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  hr {
    width: 90%;
    color: var(--primary-clr-600);
  }

  &__image {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 60%;
  }

  &__expand {
    position: absolute;
    bottom: 0;
    left: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: var(--box-shadow-y-reverse);

    &::before {
      content: "\f078";
    }
  }
}

.expertiseExpand {
  visibility: hidden;
  transform: translateX(-500px);
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-clr-300);
  transition: visibility var(--transition-duration) ease-in-out,
    transform var(--transition-duration) ease-in-out;

  &__btn {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0;
    border-bottom-right-radius: var(--border-radius);
    box-shadow: var(--box-shadow-y);

    &::before {
      content: "\f060";
    }
  }

  &__cover {
    display: flex;
    background-color: var(--white);
    height: 150px;
    width: 100vw;

    img {
      height: 80%;
      width: 80%;
      margin: auto;
    }
  }

  &__content {
    padding: var(--padding-400);
    color: var(--white);
  }

  &__title {
    padding: var(--padding-300) var(--padding-400);
    width: max-content;
    margin-top: 0;
    margin-left: 0;
    background-color: var(--accent-clr-400);
    color: var(--black);
    border-bottom-right-radius: var(--border-radius);
    box-shadow: var(--box-shadow-y);
  }

  hr {
    color: var(--white);
  }

  &__projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &--active {
    visibility: visible;
    transform: translateX(0);
  }
}

.expertiseProject {
  border-radius: var(--border-radius);
  background-color: var(--accent-clr-500);
  color: var(--black);
  width: 100%;
  padding: var(--padding-300);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:nth-child(even) {
    background-color: var(--accent-clr-300);
  }

  &__logo {
    width: 24px;
    margin-right: 0.5em;
  }

  &__name {
    color: var(--black);
  }

  &__link {
    color: var(--primary-clr-400);
  }
}
