.admin {
  min-height: 100vh;
  display: flex;
  padding-bottom: 20vh;

  &__login {
    margin: auto;

    button:hover {
      transform: translateY(0);
    }
  }

  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--primary-clr-400);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: flex-start;
    height: 100vh;
    justify-content: center;
    padding: var(--padding-400);
    box-shadow: var(--box-shadow-x-reverse);
  }

  &__navItem {
    background: var(--primary-clr-600);
    color: var(--white);

    &--active {
      background: var(--white);
      color: var(--primary-clr-400);
    }
  }

  &__content {
    position: relative;
    left: 250px;
  }

  &__messages {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.message {
  background: var(--primary-gradient-vertical);
  color: var(--white);
  padding: var(--padding-400);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-y);

  &__actions {
    .btn:first-child {
      margin-right: 1rem;
    }
  }
}
