.projects {
  position: relative;
  z-index: 2;
  margin-top: 13vh;
  padding-bottom: 20vh;
  min-height: 100vh;
  clip-path: var(--clip-path);

  &__wrap {
    padding: var(--padding-400);
  }
}

.project {
  position: relative;
  margin-top: 6rem;
  border-radius: var(--border-radius);
  filter: drop-shadow(0 -12px 24px rgba(var(--black-RGB), 0.2));

  @include widerThan768 {
    &:nth-child(even) .projectBody {
      flex-direction: row-reverse;
    }
    &:nth-child(even) .projectBody .projectDescription {
      margin: 0;
      margin-left: 40px;
    }
    &:nth-child(odd) .projectBody .projectDescription {
      margin: 0;
      margin-right: 40px;
    }
  }

  &__name {
    position: absolute;
    bottom: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    background: var(--accent-gradient-vertical-reverse);
    color: var(--black);
    padding: var(--padding-300);
    margin: 0;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  &__body {
    background: var(--primary-gradient-horizontal);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    border-radius: var(--border-radius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    @include widerThan768 {
      padding: 1rem 2rem;
      flex-direction: row;
      align-items: flex-end;
    }
  }

  &__stack {
    position: absolute;
    bottom: 100%;
    right: 0;
    background: var(--primary-gradient-vertical-reverse);
    color: var(--white);
    padding: var(--padding-300);
    margin: 0;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  &__description {
    background-color: var(--white);
    color: var(--black);
    padding: var(--padding-400);
    margin: var(--padding-400);
    border-radius: var(--border-radius);
    line-height: 150%;
    margin-top: 20px;
    box-shadow: var(--box-shadow-y);
  }

  &__repo {
    color: var(--black);
    margin-left: 0.5rem;

    &::before {
      font-family: "Font Awesome 5 Brands";
      content: "\f09b";
    }
  }

  &__url::before {
    content: "\f35d";
  }

  &__screenshots {
    position: relative;
    height: 170px;
    overflow-y: hidden;

    &:hover button {
      opacity: 0.9;
    }
  }

  &__previousShot,
  &__nextShot {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.4;
    will-change: opacity;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      transform: translateY(-50%);
    }
  }

  &__previousShot {
    margin-right: 0.5rem;
    left: 0;
  }

  &__nextShot {
    right: 0;
  }
}
