.projects {
  background: var(--primary-clr-600);
}

.project {
  &__body {
    background: var(--primary-clr-500);
  }

  &__screenshots {
    filter: brightness(0.8) contrast(1.2);
  }

  &__details {
    background: var(--primary-clr-400);
  }

  &__description {
    background: var(--primary-clr-300);
    color: var(--white);
  }

  &__repo {
    color: var(--white);
  }

  p a {
    color: var(--white);
  }
}
