.projects {
  position: relative;
  z-index: 2;
  padding-bottom: 20vh;
  padding-top: 13vh;
  min-height: 100vh;
  background: var(--primary-gradient-horizontal);
  clip-path: var(--clip-path);

  &__wrap {
    padding: var(--padding-400);

    // @include widerThan1200 {
    //   display: flex;
    //   justify-content: flex-start;
    //   align-items: flex-end;
    //   flex-wrap: wrap;
    // }
  }
}

.project {
  position: relative;
  margin-top: 6rem;
  border-radius: var(--border-radius);
  filter: drop-shadow(0 -12px 24px rgba(var(--black-RGB), 0.2));

  @include widerThan1200 {
    max-width: 80vw;
    margin-top: 12rem;
  }

  &__name {
    position: absolute;
    bottom: 100%;
    background: var(--accent-gradient-vertical-reverse);
    color: var(--black);
    padding: var(--padding-300);
    margin: 0;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  &__body {
    background: var(--white);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    border-radius: var(--border-radius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    @include widerThan1024 {
      flex-direction: row-reverse;
    }
  }

  &__stack {
    position: absolute;
    bottom: 100%;
    right: 0;
    background: var(--accent-gradient-vertical-reverse);
    color: var(--black);
    padding: var(--padding-300);
    margin: 0;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);

    &::before {
      content: "\f5fd";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      margin-right: 0.5rem;
    }
  }

  &__description {
    background: var(--primary-gradient-horizontal);
    color: var(--white);
    padding: var(--padding-400);
    margin: var(--padding-400);
    border-radius: var(--border-radius);
    line-height: 150%;
    margin-top: 20px;
    box-shadow: var(--box-shadow-y);

    p a {
      color: var(--white);
    }
  }

  &__repo {
    color: var(--white);
    margin-left: 0.5rem;

    &::before {
      font-family: "Font Awesome 5 Brands";
      content: "\f09b";
    }
  }

  &__url::before {
    content: "\f35d";
  }

  &__screenshots {
    position: relative;
    overflow-y: hidden;
    max-width: 30rem;

    &:hover button {
      opacity: 0.9;
    }
  }

  &__previousShot,
  &__nextShot {
    position: absolute;
    top: 50%;
    width: auto;
    transform: translateY(-50%);
    opacity: 0.4;
    will-change: opacity;
    transition: opacity 0.3s ease-in-out;

    &::after {
      position: relative;
      top: unset;
      left: unset;
      right: unset;
      bottom: unset;
      content: unset;
      transform: scaleX(1);
      opacity: 1;
      margin-left: 0.5rem;
    }

    &:hover {
      transform: translateY(-50%);
    }
  }

  &__previousShot {
    margin-right: 0.5rem;
    left: 0;

    &::before {
      content: "\f0d9";
    }
  }

  &__nextShot {
    right: 0;

    &::before {
      content: unset;
    }

    &::after {
      content: "\f0da";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      margin-right: 0.5rem;
    }
  }
}
