.subheading {
  position: relative;
  background-color: rgba(var(--white-RGB), 0.1);
  color: var(--white);
  padding: var(--padding-300);
  padding-left: 0.75rem;
  margin-left: var(--padding-300);
  border-radius: var(--border-radius);

  &::before {
    content: "";
    position: absolute;
    left: -0.125rem;
    top: -12.5%;
    width: 0.5rem;
    height: 120%;
    border-radius: var(--border-radius);
    background-color: var(--accent-clr-400);
  }
}

.overlay {
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      rgba(var(--primary-RGB), 0.9),
      rgba(var(--primary-RGB), 1)
    );
  }
}

.contentsWrap {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}
