.dark {
  --primary-clr-200: #00334d;
  --primary-clr-300: #00293d;
  --primary-clr-400: #001b29;
  --primary-clr-500: #00141f;
  --primary-clr-600: #000c13;

  --primary-RGB: 0, 27, 41;

  --accent-clr-300: #dfcc02;
  --accent-clr-400: #d7c600;
  --accent-clr-500: #c2b201;

  --accent-RGB: 215, 198, 0;

  --white: rgb(203, 211, 219);

  --white-RGB: 203, 211, 219;

  // --black: rgb(34, 34, 36);

  // --black-RGB: 34, 34, 36;

  --box-shadow-y: 0 8px 16px -4px rgba(var(--white-RGB), 0.1);
  --box-shadow-y-reverse: 0 -8px 16px -4px rgba(var(--white-RGB), 0.1);
  --box-shadow-x: -8px 0 16px -4px rgba(var(--white-RGB), 0.1);

  --box-shadow-neumorphism: 11px 11px 22px var(--primary-clr-600),
    -11px -11px 22px var(--primary-clr-400);

  --box-shadow-neumorphism-inset: inset 11px 11px 22px var(--primary-clr-500),
    inset -11px -11px 22px var(--primary-clr-300);

  --theme: var(--white);

  @import "../components/Index/Expertise/Expertise-dark.scss";
  @import "../components/About/About-dark.scss";
  @import "../components/Projects/Projects-dark.scss";
  @import "../components/Common/Footer/Footer-dark.scss";
  @import "./prism-dark.css";
}
