@import "./media";

:root {
  // primary-color
  --primary-clr--200: rgb(0, 137, 205);
  --primary-clr-300: rgb(0, 116, 174); // lighter
  --primary-clr--400: rgb(0, 102, 153); // base
  --primary-clr--500: rgb(0, 59, 133); // darker
  --primary-clr--600: rgb(1, 66, 99);

  --primary-RGB: 0, 102, 153;

  // accent-color
  --accent-clr--300: rgb(252, 255, 100); // lighter
  --accent-clr--400: rgb(251, 255, 46); // base
  --accent-clr--500: rgb(227, 232, 0); // darker

  --accent-RGB: 251, 255, 46;

  // fonts
  --headingFont: "Roboto";
  --primaryTextColor: var(--black);

  --black: rgb(0, 4, 20);
  --black-RGB: 0, 4, 20;
  --white: rgb(240, 249, 254);
  --white-RGB: 240, 249, 254;

  --border-radius: 0.25em;
  --padding-400: 0.5em;
  --padding-300: 0.25em;

  @include widerThan480 {
    --border-radius: 0.5em;
    --padding-400: 0.75em;
    --padding-300: 0.5em;
  }

  @include widerThan768 {
    --padding-400: 1em;
  }

  --box-shadow-y: 0 8px 16px -4px rgba(var(--black-RGB), 0.4);
  --box-shadow-x: -8px 0 16px -4px rgba(var(--black-RGB), 0.4);
}

body {
  overflow-x: hidden;
}

@import "../components/Button.scss";
@import "../components/Nav/Nav.scss";
@import "../components/Landing/Landing.scss";
