@import "./media";

:root {
  // primary-color
  --primary-clr-200: rgb(0, 137, 205);
  --primary-clr-300: rgb(0, 116, 174); // lighter
  --primary-clr-400: rgb(0, 102, 153); // base
  --primary-clr-500: rgb(0, 89, 133); // darker
  --primary-clr-600: rgb(1, 66, 99);

  --primary-RGB: 0, 102, 153;

  // gradients
  --primary-gradient: var(--primary-clr-400) 0%, var(--primary-clr-300) 35%,
    var(--primary-clr-200) 100%;

  --primary-gradient-horizontal: linear-gradient(
    90deg,
    var(--primary-gradient)
  );
  --primary-gradient-horizontal-reverse: linear-gradient(
    270deg,
    var(--primary-gradient)
  );
  --primary-gradient-vertical: linear-gradient(180deg, var(--primary-gradient));
  --primary-gradient-vertical-reverse: linear-gradient(
    360deg,
    var(--primary-gradient)
  );

  // accent-color
  --accent-clr-300: rgb(252, 255, 100); // lighter
  --accent-clr-400: rgb(251, 255, 46); // base
  --accent-clr-500: rgb(227, 232, 0); // darker

  --accent-RGB: 251, 255, 46;

  // gradients
  --accent-gradient: var(--accent-clr-500) 0%, var(--accent-clr-400) 35%,
    var(--accent-clr-300) 100%;

  --accent-gradient-horizontal: linear-gradient(90deg, var(--accent-gradient));
  --accent-gradient-horizontal-reverse: linear-gradient(
    270deg,
    var(--accent-gradient)
  );
  --accent-gradient-vertical: linear-gradient(180deg, var(--accent-gradient));
  --accent-gradient-vertical-reverse: linear-gradient(
    360deg,
    var(--accent-gradient)
  );

  // fonts
  --headingFont: "Atkinson Hyperlegible";
  --bodyFont: "Atkinson Hyperlegible";
  --primaryTextColor: var(--black);

  --black: rgb(0, 4, 20);
  --black-RGB: 0, 4, 20;
  --white: rgb(224, 232, 241);
  --white-RGB: 224, 232, 241;

  --border-radius: 0.25em;
  --border-size: 0.12em;
  --padding-400: 0.5em;
  --padding-300: 0.25em;

  @include widerThan480 {
    --border-radius: 0.5em;
    --padding-400: 0.75em;
    --padding-300: 0.5em;
  }

  @include widerThan640 {
    --padding-400: 1em;
  }

  --box-shadow-y: 0 8px 16px -4px rgba(var(--black-RGB), 0.4);
  --box-shadow-y-reverse: 0 -8px 16px -4px rgba(var(--black-RGB), 0.4);
  --box-shadow-x: -8px 0 16px -4px rgba(var(--black-RGB), 0.4);
  --box-shadow-neumorphism: 11px 11px 22px #ced5de, -11px -11px 22px #f2fbff;

  --clip-path: polygon(0 0, 100% 0, 100% 96%, 0% 100%);

  --transition-duration: 0.3s;
}

::selection {
  background-color: var(--accent-clr-400);
  color: var(--black);
}

body {
  overflow-x: hidden;
  background-color: var(--white);
  transition: background 0.6s ease-out, color 0.8s ease-out;
}

p {
  line-height: calc(1.5em + 0.2vw); // ref. smashing magazine
  margin: calc(1em + 0.5vw) 0;
}

@import "./_common.scss";
@import "../components/Common/Button/Button.scss";
@import "../components/Common/Nav/Nav.scss";
@import "../components/Index/Landing/Landing.scss";
@import "../components/Index/Expertise/Expertise.scss";
@import "../components/Common/Footer/Footer.scss";
@import "../components/About/Header/Header.scss";
@import "../components/About/Process/Process.scss";
@import "../components/Projects/Projects.scss";

.dark {
  --primary-clr-200: #00334d;
  --primary-clr-300: #00293d;
  --primary-clr-400: #001b29;
  --primary-clr-500: #00141f;
  --primary-clr-600: #000c13;

  --primary-RGB: 0, 27, 41;

  --accent-clr-300: #dfcc02;
  --accent-clr-400: #d7c600;
  --accent-clr-500: #c2b201;

  --accent-RGB: 215, 198, 0;

  --white: rgb(203, 211, 219);

  --white-RGB: 203, 211, 219;

  --black: rgb(34, 34, 36);

  --black-RGB: 34, 34, 36;

  --box-shadow-neumorphism: 11px 11px 22px #91969e, -11px -11px 22px #dff2fa;
}
