@import "./media";

html {
  scroll-behavior: smooth;
}

:root {
  // primary-color
  --primary-clr-200: rgb(0, 137, 205);
  --primary-clr-300: rgb(0, 116, 174); // lighter
  --primary-clr-400: rgb(0, 102, 153); // base
  --primary-clr-500: rgb(0, 89, 133); // darker
  --primary-clr-600: rgb(1, 66, 99);

  --primary-RGB: 0, 102, 153;

  // gradients
  --primary-gradient: var(--primary-clr-400) 0%, var(--primary-clr-300) 35%,
    var(--primary-clr-200) 100%;

  --primary-gradient-horizontal: linear-gradient(
    90deg,
    var(--primary-gradient)
  );
  --primary-gradient-horizontal-reverse: linear-gradient(
    270deg,
    var(--primary-gradient)
  );
  --primary-gradient-vertical: linear-gradient(180deg, var(--primary-gradient));
  --primary-gradient-vertical-reverse: linear-gradient(
    360deg,
    var(--primary-gradient)
  );

  // accent-color
  --accent-clr-300: rgb(252, 255, 100); // lighter
  --accent-clr-400: rgb(251, 255, 46); // base
  --accent-clr-500: rgb(227, 232, 0); // darker

  --accent-RGB: 251, 255, 46;

  // gradients
  --accent-gradient: var(--accent-clr-500) 0%, var(--accent-clr-400) 35%,
    var(--accent-clr-300) 100%;

  --accent-gradient-horizontal: linear-gradient(90deg, var(--accent-gradient));
  --accent-gradient-horizontal-reverse: linear-gradient(
    270deg,
    var(--accent-gradient)
  );
  --accent-gradient-vertical: linear-gradient(180deg, var(--accent-gradient));
  --accent-gradient-vertical-reverse: linear-gradient(
    360deg,
    var(--accent-gradient)
  );

  --primary-accent-gradient: linear-gradient(
    360deg,
    var(--primary-clr-300),
    var(--accent-clr-300)
  );

  // fonts
  --headingFont: "Atkinson Hyperlegible", "Lucida Bright", Georgia, serif;
  --bodyFont: "Atkinson Hyperlegible", arial, verdana, Tahoma, sans-serif;
  --primaryTextColor: var(--black);

  --black: rgb(0, 14, 20);
  --black-RGB: 0, 14, 20;
  --white: rgb(224, 232, 241);
  --white-RGB: 224, 232, 241;
  --error: #d70404;

  --border-radius: 0.25em;
  --border-size: 0.12em;
  --padding-400: 0.5em;
  --padding-300: 0.25em;

  @include widerThan480 {
    --border-radius: 0.5em;
    --padding-400: 0.75em;
    --padding-300: 0.5em;
  }

  @include widerThan640 {
    --padding-400: 1em;
  }

  --box-shadow-y: 0 12px 24px -4px rgba(var(--black-RGB), 0.2);
  --box-shadow-y-reverse: 0 -12px 24px -4px rgba(var(--black-RGB), 0.2);
  --box-shadow-x: -12px 0 24px -4px rgba(var(--black-RGB), 0.2);
  --box-shadow-x-reverse: 12px 0 24px -4px rgba(var(--black-RGB), 0.2);
  --box-shadow-neumorphism: 11px 11px 22px #ced5de, -11px -11px 22px #f2fbff;
  --box-shadow-neumorphism-inset: inset 11px 11px 22px #b9c1cc,
    inset -11px -11px 22px #effbff;
  --box-shadow-neumorphism-primary: 11px 11px 24px var(--primary-clr-500),
    -11px -11px 24px var(--primary-clr-300);

  --clip-path: polygon(0 0, 100% 0, 100% 96%, 0% 100%);

  --transition-duration: 0.3s;

  --theme: var(--black);
}

::selection {
  background-color: var(--accent-clr-400);
  color: var(--black);
}

body {
  overflow-x: hidden;
  background-color: var(--white);
  transition: background 0.6s ease-out, color 0.8s ease-out;
}

.hideOverflow {
  overflow-y: hidden;

  @include widerThan1200 {
    overflow-y: auto;
  }
}

p {
  line-height: calc(1.5em + 0.2vw); // ref. smashing magazine
  margin: calc(1em + 0.5vw) 0;
}

.custom404 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

pre {
  background: var(--primary-clr-600);
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
}

@import "./_common.scss";
@import "../components/Common/Button/Button.scss";
@import "../components/Common/Link/Link.scss";
@import "../components/Common/Nav/Nav.scss";
@import "../components/Index/Landing/Landing.scss";
@import "../components/Index/Expertise/Expertise.scss";
@import "../components/Common/Footer/Footer.scss";
@import "../components/About/About.scss";
@import "../components/Projects/Projects.scss";
@import "../components/Blogs/Blogs.scss";
@import "./prism.css";
@import "./dark";
@import "../components/Admin/admin.scss";
