.aboutHeader {
  position: relative;
  z-index: 3;
  padding: var(--padding-400);
  padding-top: 20vh;
  padding-bottom: 10vh;
  background: var(--primary-gradient-horizontal);
  color: var(--white);
  overflow-x: hidden;
  clip-path: var(--clip-path);

  @include widerThan1200 {
    overflow: unset;
  }

  .contentsWrap {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;

    @include widerThan1024 {
      flex-direction: row-reverse;
      justify-content: flex-end; // cause direction is reverse
    }
  }

  &__hook {
    max-width: 720px;
    margin-top: 3rem;

    @include widerThan1024 {
      margin-top: 0;
      margin-left: 3rem;
      padding: var(--padding-400);
      background: var(--primary-gradient-horizontal);
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow-x-reverse);
    }

    p,
    mark {
      color: rgba(var(--white-RGB), 0.9);
    }

    mark {
      font-weight: bold;
      margin-right: 0.5rem;
      letter-spacing: 1px;

      &::after {
        bottom: 0.5rem;
        background: var(--primary-clr-600);
      }
    }

    span {
      margin-right: 0.5rem;
    }

    h5 {
      font-weight: bold;
    }
  }

  &__details {
    width: 80vw;
    max-width: 22rem;
    position: relative;
    margin-left: 0.25rem; // to subtract the overflow caused by before

    @include widerThan1024 {
      position: sticky;
      top: 20vh;
      margin-bottom: 15vh;
    }

    img {
      display: block;
      width: 60vw;
      max-width: 18.5rem;
      margin: 0;
      border-radius: 25%;
      border: 0.25rem solid var(--accent-clr-400);
      margin-bottom: 2rem;
    }
  }

  &__contact,
  &__activity {
    margin-top: 0.5rem;
  }

  &__contact {
    margin-right: 1rem;

    &::before {
      content: "\f2b9";
    }
  }

  &__activity {
    &::before {
      content: "\f201";
    }
  }
}
