.expertise {
  position: relative;
  z-index: 2;
  margin-top: -10vh;
  padding: var(--padding-400);
  padding-top: 13vh;
  padding-bottom: 13vh;
  min-height: 100vh;
  clip-path: var(--clip-path);

  @include widerThan1200 {
    background: var(--primary-gradient-horizontal);
    padding-top: 15vh;
  }

  &::after,
  &::before {
    background: var(--white);
  }

  &::after {
    visibility: hidden;

    @include widerThan1200 {
      visibility: visible;
    }
  }

  &__heading {
    color: var(--black);
    margin-bottom: 4rem;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    @include widerThan1200 {
      flex-direction: column;
      justify-content: space-between;
      max-width: 30vw;
      background: var(--white);
      padding: var(--padding-400);
      box-shadow: var(--box-shadow-y);
      border-radius: var(--border-radius);
    }

    @include widerThan1600 {
      max-width: 25vw;
    }
  }

  &__projects {
    margin: 0 auto;
    margin-top: 2rem;
    background: var(--primary-gradient-vertical);
    color: var(--white);
    border-color: var(--primary-clr-400);

    &::before {
      content: "\f0ae";
    }
  }

  &__columns {
    display: flex;
    justify-content: flex-start;
    position: relative;
    z-index: 2;
  }

  .subheading {
    color: var(--primary-clr-600);
    background-color: rgba(var(--black-RGB), 0.2);

    &::before {
      background: var(--primary-clr-400);
    }

    @include widerThan768 {
      max-width: 30vw;
    }

    @include widerThan1200 {
      margin-top: 4rem;
    }
  }
}

.expertiseCard {
  position: relative;
  border-radius: var(--border-radius);
  width: 100%;
  height: 11.562rem;
  margin-bottom: 5rem;
  background: var(--white);
  box-shadow: var(--box-shadow-neumorphism);
  transition: box-shadow 0.3s ease-in-out;
  will-change: box-shadow;
  cursor: pointer;

  @include widerThan1200 {
    &--active,
    &:hover,
    &:focus {
      box-shadow: var(--box-shadow-neumorphism-inset);
    }
  }

  @include widerThan480 {
    margin-bottom: 3rem;
  }

  @include widerThan640 {
    max-width: 18.75rem;
    margin-right: 3rem;
  }

  @include widerThan768 {
    max-width: 22.875rem;
  }

  @include widerThan1024 {
    max-width: 28.875rem;
  }

  @include widerThan1200 {
    margin-right: 0;
    max-width: 100%;
    height: 6.562rem;
  }

  &:last-child {
    margin-bottom: 3rem;

    @include widerThan1200 {
      margin-bottom: 0;
    }
  }

  &__title {
    width: 100%;
    margin: 0;
    margin-bottom: 0.5rem;
    color: var(--primary-clr-400);
    text-align: left;
    font-weight: bold;
    padding: var(--padding-300);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom: 2px solid currentColor;

    @include widerThan1200 {
      border-bottom: 0;
    }
  }

  &__image {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 60%;

    @include widerThan1200 {
      display: none;
    }
  }

  &__expand {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: var(--padding-400);
    background: var(--primary-gradient-vertical-reverse);
    color: var(--white);
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 0;
    box-shadow: var(--box-shadow-y-reverse);
    transform-origin: left;

    &::before {
      content: "\f054";
      margin-right: 0.5rem;
    }

    &:hover {
      &::after {
        display: none;
      }
    }
  }
}

.expertiseExpand {
  visibility: hidden;
  transform: translateX(-500px);
  position: fixed;
  z-index: 6;
  top: 10vh;
  left: 0;
  width: 100vw;
  height: 90vh;
  background: var(--primary-gradient-horizontal);
  transition: visibility var(--transition-duration) ease-in-out,
    transform var(--transition-duration) ease-in-out;

  @include widerThan1200 {
    align-self: flex-start; // important for position: sticky
    position: sticky;
    visibility: visible;
    top: 13vh;
    right: 0;
    background: var(--white);
    left: unset;
    width: 30vw;
    height: 100%;
    margin-left: 3rem;
    border-radius: var(--border-radius);
    transform: translateX(0);
    box-shadow: var(--box-shadow-y);
  }

  @include widerThan1600 {
    max-width: 25vw;
  }

  &__btn {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0;
    border-bottom-right-radius: var(--border-radius);
    box-shadow: var(--box-shadow-y);
    transform-origin: left;

    @include widerThan1200 {
      display: none;
    }

    &::before {
      content: "\f060";
    }

    &:hover {
      transform: translateY(0) scaleX(0.9);

      &::after {
        display: none;
      }
    }
  }

  &__cover {
    display: flex;
    background-color: var(--white);
    height: 150px;
    width: 100vw;

    @include widerThan1200 {
      width: 100%;
      border-radius: var(--border-radius);
    }

    svg {
      height: 80%;
      width: 80%;
      margin: auto;
    }
  }

  &__content {
    padding: var(--padding-400);
    color: var(--white);

    @include widerThan1200 {
      color: var(--black);
    }
  }

  &__title {
    padding: var(--padding-300) var(--padding-400);
    width: max-content;
    margin-top: 0;
    margin-left: 0;
    background-color: var(--accent-clr-400);
    color: var(--black);
    font-weight: bold;
    border-bottom-right-radius: var(--border-radius);
    box-shadow: var(--box-shadow-y);
  }

  hr {
    color: var(--white);
  }

  &__projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &--active {
    visibility: visible;
    transform: translateX(0);

    .expertiseExpand__illustration {
      opacity: 1;
    }
  }
}

.expertiseProject {
  border-radius: var(--border-radius);
  background-color: var(--accent-clr-500);
  color: var(--black);
  width: 100%;
  padding: var(--padding-300);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:nth-child(even) {
    background-color: var(--accent-clr-300);
  }

  &__logo {
    width: 24px;
    margin-right: 0.5em;
  }

  &__name {
    color: var(--black);
  }

  &__link {
    color: var(--primary-clr-400);
  }
}
